<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.developer.fabiano.ifprof">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name="android.support.multidex.MultiDexApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <receiver
            android:name="com.developer.fabiano.ifprof.adapters.BroadcastManager"
            android:label="BroadcastReceiverAux">
            <intent-filter>
                <action android:name="ALARME_DISPARADO" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.developer.fabiano.ifprof.Login"
            android:label="@string/app_name" />
        <activity
            android:name="com.developer.fabiano.ifprof.Cadastro"
            android:label="@string/title_activity_cadastro" />
        <activity
            android:name="com.developer.fabiano.ifprof.MenuMain"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.developer.fabiano.ifprof.ActivityAddDisciplinas"
            android:label="@string/title_activity_disciplina" />
        <activity
            android:name="com.developer.fabiano.ifprof.ActivityAddTurmas"
            android:label="@string/title_activity_turmas" />
        <activity
            android:name="com.developer.fabiano.ifprof.ActivityAddAlunos"
            android:label="@string/title_activity_alunos" />
        <activity
            android:name="com.developer.fabiano.ifprof.Perfil"
            android:label="@string/title_activity_perfil" />
        <activity
            android:name="com.developer.fabiano.ifprof.ActivityAddAvaliacoes"
            android:label="@string/title_activity_avaliacoes" />
        <activity
            android:name="com.developer.fabiano.ifprof.ActivityAddNotas"
            android:label="@string/title_activity_notas"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.developer.fabiano.ifprof.ActivityAddFaltas"
            android:label="Fazer chamada"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.developer.fabiano.ifprof.SetPhoto"
            android:label="@string/title_activity_set_photo" />
        <activity
            android:name="com.developer.fabiano.ifprof.ShowTurmas"
            android:label="@string/title_activity_show_turmas" />
        <activity
            android:name="com.developer.fabiano.ifprof.ShowDisciplinas"
            android:label="@string/title_activity_show_disciplinas" />
        <activity
            android:name="com.developer.fabiano.ifprof.ShowAlunos"
            android:label="@string/title_activity_show_alunos" />
        <activity
            android:name="com.developer.fabiano.ifprof.SeeMore"
            android:label="@string/title_activity_see_more" />
        <activity
            android:name="com.developer.fabiano.ifprof.ShowAvaliacoes"
            android:label="@string/title_activity_show_avaliacoes"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.developer.fabiano.ifprof.Detalhes"
            android:label="@string/title_activity_see_more" />
        <activity
            android:name="com.developer.fabiano.ifprof.EditePerfil"
            android:label="Editar perfil" />
        <activity
            android:name="com.developer.fabiano.ifprof.ShowFaltas"
            android:label="@string/title_activity_faltas" />
        <activity
            android:name="com.developer.fabiano.ifprof.ActivityHistorico"
            android:label="Histórico" />
        <activity
            android:name="com.developer.fabiano.ifprof.ShowNotas"
            android:label="Notas" />
        <activity
            android:name="com.developer.fabiano.ifprof.AlunoHistorico"
            android:label="Histórico" />
        <activity
            android:name="com.developer.fabiano.ifprof.ActivityAddQuestao"
            android:label="Adicionar questão" />
        <activity
            android:name="com.developer.fabiano.ifprof.ShowQuestoes"
            android:label="Questões" />
        <activity
            android:name="com.developer.fabiano.ifprof.VerQuestao"
            android:label="Ver questão" />
        <activity
            android:name="com.developer.fabiano.ifprof.ActivityProva"
            android:label="Valor das questões"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.developer.fabiano.ifprof.VerAluno"
            android:label="nome" />
        <activity android:name="com.developer.fabiano.ifprof.SearchableActivity" />
        <activity
            android:name="com.developer.fabiano.ifprof.Apresentation"
            android:label="@string/title_activity_apresentation"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.developer.fabiano.ifprof.AlternativasMarcadas"
            android:label="@string/title_activity_alternativas_marcadas"
            android:theme="@style/AppTheme"></activity>
    </application>

</manifest>
